body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../img/biru4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
}

.gradient-text {
  background: linear-gradient(to right, #2200ff, #1d62ec, #5ef2ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientText 2s infinite;
}

.navbar {
  background-color: rgb(102, 212, 233);
  height: 80px; /* Ubah tinggi navbar sesuai keinginan Anda */
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
  color: #000000;
}

.nav-list li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-list li a:hover {
  color: rgb(0, 0, 0);
}

header {
  background-color: rgb(63, 156, 214);
  color: white;
  text-align: center;
  padding: 1em;
}

@keyframes gradientText {
  0% { color: #2200ff; }
  50% { color: rgb(0, 49, 148); }
  100% { color: #5ef2ff; }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-text {
  animation: blink 1s infinite;
}

.centered-image {
  text-align: center;
}

.centered-image img {
  width: 30%;
  border-radius: 30%;
  margin: 20px auto;
  display: block;
}

.centered-text {
  text-align: center;
  color: #e80101;
}

#projects {
  text-align: center;
}

.project-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.project {
  width: 45%;
  padding: 10px;
  box-shadow: 0 0 4px rgba(17, 111, 192, 0.673);
  margin: 10px;
  background-color: rgb(76, 154, 206);
}

#projects a {
  color: rgb(19, 1, 7);
}

#projects a:hover {
  color: blue;
}

/* End of CSS yang sama */

#explanation {
  text-align: center;
  margin: 50px;
}

#explanation .blink-text {
  animation: blink 1s infinite;
  color: red;
}

@keyframes blink {
  0% {
    color: rgb(2, 107, 255);
  }
  50% {
    color: rgb(10, 64, 242);
  }
  100% {
    color: rgb(15, 191, 255);
  }
}

.project-details {
  width: 100%;
  margin: 20px 0;
  color: #000000;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 4px rgba(79, 6, 72, 0.673);
  clear: both;
  background-color: #a4c7e3;
}

.project-details h3 {
  margin-bottom: 10px;
  color: rgb(5, 33, 247, 255, 255);
}

.project-details .project-images {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.project-details .image-item {
  width: calc(33.33% - 10px);
  text-align: center;
}

.project-details .image-item img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.project-details .image-item p {
  font-style: italic;
}

.project-details a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #0062ff;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
}
